<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="auth-wrapper">
  <div class="container-fluid h-100">
    <div class="row flex-row h-100 bg-white">
      <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
        <div class="lavalite-bg" style="background-image: url('assets/signup-login/img/auth/login-bg.jpg')">
          <div class="lavalite-overlay"></div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
        <div class="authentication-form mx-auto">
          <div class="logo-centered" style="width: 200px">
            <h2>Login</h2>
          </div>
          <form #f="ngForm"  novalidate class="example-form">
            <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
              <mat-label>Username</mat-label>
              <input name="userName"
                     [(ngModel)]="form.name"
                     matInput
                     placeholder="Your UserName"
                     required
                     minlength="3"
                     #username="ngModel" type="text">
              <mat-error *ngIf="username.hasError('required')">Username cannot be blank!</mat-error>
              <mat-error *ngIf="username.hasError('minlength')">Please enter at least 3 characters!</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
              <mat-label>Enter your password</mat-label>
              <input
                [type]="hide ? 'password' : 'text'"
                name="password"
                [(ngModel)]="form.password"
                matInput
                placeholder="Password"
                required
                minlength="6"
                #password="ngModel">
              <mat-error *ngIf="password.hasError('required')">Password cannot be blan!k</mat-error>
              <mat-error *ngIf="password.hasError('minlength')">Please enter at least 6 characters!</mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <div class="row">
              <div class="col text-left">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="item_checkbox" name="item_checkbox" value="option1">
                  <span class="custom-control-label">&nbsp;Remember Me</span>
                </label>
              </div>
              <div class="col text-right">
                <a routerLink="/forgot">Forgot Password?</a>
              </div>
            </div>

            <div class="sign-btn text-center">
              <button style="height: 45px ;width: 120px;border-radius: 5px;color: whitesmoke" class="btn btn-theme" (click)="ngSubmit()"  type="submit" >Login</button>
            </div>
          </form>
          <div class="register">
            <a routerLink="/">Back to Home</a>
          </div>
          <div class="register">
            <p>You don't have account? <a routerLink="/signup">Create new account</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
