<!-- Page Header Start -->
<!--<div class="container-fluid bg-secondary mb-5">-->
<!--  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">-->
<!--    <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>-->
<!--    <div class="d-inline-flex">-->
<!--      <p class="m-0"><a href="">Home</a></p>-->
<!--      <p class="m-0 px-2">-</p>-->
<!--      <p class="m-0">Shop</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- Page Header End -->


<!-- Shop Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->






    <div class="col-lg-3 col-md-12">
      <!-- Price Start -->


      <div class="col-lg-13 d-none d-lg-block mb-4 pb-4">
        <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 30px; margin-top: -1px; padding: 0 10px; border-top-left-radius: 2px; border-top-right-radius: 2px;">
          <h6 class="m-0">Categories</h6>
          <i class="fa fa-angle-down text-dark"></i>
        </a>
        <nav style="border: solid 1px;" class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
          <div  class="navbar-nav w-100 overflow-hidden" >
            <select style="padding: 0 5px" (change)="change($event)">
              <option value="0">All Category</option>
              <option *ngFor="let category of categoryList" [value] = "category.id"><a class="nav-item nav-link " >{{category.categoryName}}</a></option>
            </select>

          </div>
        </nav>
      </div>


      <div style="margin-top: 40px; border-top: 1px solid #EDF1FF !important;" class="border-bottom mb-4 pb-4">
        <h5 style="margin-top: 25px" class="font-weight-semi-bold mb-4">Filter by price</h5>
        <form>
          <div style="display: flex; margin-left: -5px;" class="form-check rad-label">
            <input class="form-check-input rad-input" type="radio" name="exampleRadios" id="exampleRadios1" value="" checked (change)="onChangeDefault($event)">
            <div class="rad-design"></div>
            <label style="width: 100%; margin-left: 25px;" class="form-check-label rad-text" for="exampleRadios1">
              All Price
            </label>
          </div>
          <div  class="form-check rad-label" *ngFor="let price of list">
            <input class="form-check-input rad-input" type="radio" name="exampleRadios" id="{{price.id}}" value="{{this.price.price}}" (change)="searchByPrice($event)">
            <div class="rad-design"></div>
            <label style="width: 100%; margin-left: 20px;" class="form-check-label rad-text" for="{{price.id}}">
              {{price.price}}
            </label>
          </div>
        </form>
      </div>
      <!-- Price End -->




    </div>
    <!-- Shop Sidebar End -->


    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-12">
      <div class="row pb-3">
<!--        <div class="col-12 pb-1">-->
<!--          <div class="d-flex align-items-center justify-content-between mb-4">-->
<!--&lt;!&ndash;            <form action="">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="input-group-append">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <span class="input-group-text bg-transparent text-primary">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <i class="fa fa-search"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="dropdown ml-4">&ndash;&gt;-->
<!--&lt;!&ndash;              <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"&ndash;&gt;-->
<!--&lt;!&ndash;                      aria-haspopup="true"&ndash;&gt;-->
<!--&lt;!&ndash;                      aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;                Sort by&ndash;&gt;-->
<!--&lt;!&ndash;              </button>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="dropdown-item" href="#">Latest</a>&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="dropdown-item" href="#">Popularity</a>&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="dropdown-item" href="#">Best Rating</a>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->


        <div class="col-lg-4 col-md-6 col-sm-12 pb-1" *ngFor="let product of productList| paginate: { itemsPerPage: 6, currentPage: p }">
          <app-customer-product [product]="product"></app-customer-product>
          <!--          <div class="card product-item border-0 mb-4">-->
          <!--            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">-->
          <!--              <img class="img-fluid w-100" src="{{product.image}}" alt="">-->
          <!--            </div>-->
          <!--            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">-->
          <!--              <h6 class="text-truncate mb-3">{{product.name}}</h6>-->
          <!--              <div class="d-flex justify-content-center">-->
          <!--                <h6>${{product.price}}</h6>-->

          <!--              </div>-->
          <!--            </div>-->
          <!--            <div class="card-footer d-flex justify-content-between bg-light border">-->
          <!--              <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1">View Detail</i></a>-->
          <!--              <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To-->
          <!--                Cart</a>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>




<!--        <div class="col-12 pb-1">-->
<!--          <nav aria-label="Page navigation">-->
<!--            <ul class="pagination justify-content-center mb-3">-->

<!--              <li (click)="showAllProductByPage2(page.number - 1)"-->
<!--                  [class]="(page.number == 0) ? 'page-item disabled' : 'page-item' ">-->
<!--                <a class="page-link" aria-label="Previous">-->
<!--                  <span aria-hidden="true">&laquo;</span>-->

<!--                  <span class="sr-only">Previous</span>-->
<!--                </a>-->
<!--              </li>-->


<!--              <li *ngIf="page.totalPages >= count+1 "-->
<!--                  [class]="(page.number == count) ? 'page-item active':'page-item' "-->
<!--                  (click)="showAllProductByPage2(count)"><a-->
<!--                class="page-link">{{count + 1}}</a>-->
<!--              </li>-->
<!--              <li *ngIf="page.totalPages >= count+2"-->
<!--                  [class]="(page.number == count + 1) ? 'page-item active':'page-item' "-->
<!--                  (click)="showAllProductByPage2(count+1)"><a-->
<!--                class="page-link">{{count + 2}}</a></li>-->
<!--              <li *ngIf="page.totalPages >= count+3"-->
<!--                  [class]="(page.number == count + 2) ? 'page-item active':'page-item' "-->
<!--                  (click)="showAllProductByPage2(count+2)"><a-->
<!--                class="page-link">{{count + 3}}</a></li>-->
<!--              <li (click)="showAllProductByPage2(page.number + 1)"-->
<!--                  [class]="(page.number + 1 == page.totalPages ) ? 'page-item disabled' : 'page-item' ">-->

<!--                <a class="page-link" aria-label="Next">-->
<!--                  <span aria-hidden="true">&raquo;</span>-->
<!--                  <span class="sr-only">Next</span>-->
<!--                </a>-->

<!--              </li>-->
<!--            </ul>-->
<!--          </nav>-->
<!--        </div>-->


      </div>
      <div style="float: right;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    <!-- Shop Product End -->


  </div>
</div>
<!-- Shop End -->
