<main class="login-form">
  <div class="cotainer">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card" style="background-color:#E6E6FA; width: 700px;margin: 0 auto">
          <div class="card-header" style="font-size: 25px;font-weight: 900;}">Change Password</div>
          <p>{{status}}</p>
          <form #f="ngForm"  class="example-form" style="margin: 0 auto;">
<!--            <div class="form-group row" style="margin-top: 20px;">-->
<!--              <label for="old-password" class="col-md-4 col-form-label text-md-right">Mật khẩu cũ</label>-->
<!--              <div class="col-md-6">-->
<!--                <input type="password" id="old-password"-->
<!--                       [(ngModel)]="form.oldPassword" [ngModelOptions]="{standalone: true}" matInput name="oldPassword"-->
<!--                       class="form-control" required autofocus>-->
<!--              </div>-->
<!--            </div>-->
<!--            mat khau cu-->
            <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
              <mat-label>Enter Old Password</mat-label>
              <input
                [type]="hideOldPass ? 'password' : 'text'"
                name="oldPassword"
                [(ngModel)]="form.oldPassword"
                matInput
                placeholder="Old Password.."
                required
                minlength="6"
                #oldpassword="ngModel">
              <mat-error *ngIf="oldpassword.hasError('required')">Old Password cannot be blank!</mat-error>
              <mat-error *ngIf="oldpassword.hasError('minlength')">Please enter at least 6 characters</mat-error>
              <button mat-icon-button matSuffix (click)="hideOldPass = !hideOldPass" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hideOldPass">
                <mat-icon>{{hideOldPass ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
<!--            end mat khau cu-->
<!--            mat khau lan 1-->
            <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
              <mat-label>Enter New Password</mat-label>
              <input
                [type]="hideNewPass ? 'password' : 'text'"
                id="new_password"
                [(ngModel)]="form.newPassword"
                [ngModelOptions]="{standalone: true}"
                name="newPassword"
                matInput
                placeholder="New Password..."
                required
                minlength="6"
                #newPassword="ngModel">
              <mat-error *ngIf="newPassword.hasError('required')">New Password cannot be blank!</mat-error>
              <mat-error *ngIf="newPassword.hasError('minlength')">Please enter at least 6 characters!</mat-error>
              <button type="" mat-icon-button matSuffix (click)="hideNewPass = !hideNewPass" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hideNewPass">
                <mat-icon>{{hideNewPass ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
<!--            end mat khau lan 1-->
            <!--            mat khau moi-->
            <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
              <mat-label>Repeat New Password</mat-label>
              <input
                [type]="hideCheckPass ? 'password' : 'text'"
                id="new_password_2"
                [(ngModel)]="form.checkPassword"
                [ngModelOptions]="{standalone: true}"
                name="checkPassword"
                matInput
                placeholder="Retype new Password..."
                required
                minlength="6"
                #checkPassword="ngModel">
              <mat-error *ngIf="checkPassword.hasError('required')">Cannot be blank!</mat-error>
              <mat-error *ngIf="checkPassword.hasError('minlength')">Please enter at least 6 characters!</mat-error>
              <button type="" mat-icon-button matSuffix (click)="hideCheckPass = !hideCheckPass" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hideCheckPass">
                <mat-icon>{{hideCheckPass ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <!--            end mat khau moi-->
<!--            <div class="form-group row">-->
<!--              <label for="new_password" class="col-md-4 col-form-label text-md-right">Mật khẩu mới</label>-->
<!--              <div class="col-md-6">-->
<!--                <input type="password" id="new_password"-->
<!--                       [(ngModel)]="form.newPassword" [ngModelOptions]="{standalone: true}" matInput name="newPassword"-->
<!--                       class="form-control"  required>-->
<!--              </div>-->
<!--            </div>-->
            <div class="form-group row">
              <div class="col-md-6 offset-md-4">
                <a routerLink="/forgot" class="btn btn-link">
                  Forgot Password?
                </a>
              </div>
            </div>

            <div class="col-md-6 offset-md-4">
              <button (click)="f.form.valid  && updatePassword()"  type="submit" class="btn btn-primary" style="width: 150px;height: 40px;margin-bottom: 20px;">
               Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
