<body>


<div class="auth-wrapper">
  <div class="container-fluid h-100">
    <div class="row flex-row h-100 bg-white">
      <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
        <div class="lavalite-bg" style="background-image: url('assets/signup-login/img/auth/register-bg.jpg')">
          <div class="lavalite-overlay"></div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
        <div class="authentication-form mx-auto">
          <div class="logo-centered" style="width: 120px">
            <h2>Signup</h2>
          </div>

          <!--      Form    -->
          <form #f="ngForm" (ngSubmit)="f.form.valid && ngSubmit()" novalidate class="example-form">
            <mat-error style="margin-top: 10px">{{status}}</mat-error>
            <!--            test-->

            <!--            end test-->
            <!--test name-->

            <!--            <div class="form-group">-->
            <!--              <input name="name"-->
            <!--                     [(ngModel)]="form.name"-->
            <!--                     matInput-->
            <!--                     placeholder="Your Name"-->
            <!--                     required-->
            <!--                     minlength="6"-->
            <!--                     #name="ngModel" type="text" class="form-control">-->
            <!--              <mat-error *ngIf="name.hasError('required')">The nam is required!</mat-error>-->
            <!--              <mat-error *ngIf="name.hasError('minlength')">Ten toi thieu 6 ky tu!</mat-error>-->
            <!--              <i class="ik ik-user"></i>-->
            <!--            </div>-->

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input name="name"
                     [(ngModel)]="form.name"
                     matInput
                     placeholder="Your Name"
                     required
                     minlength="6"
                     #name="ngModel" type="text">
              <mat-error style="margin-bottom: 10px;" *ngIf="name.hasError('required')">Name cannot be blank!
              </mat-error>
              <mat-error style="margin-bottom: 10px;" *ngIf="name.hasError('minlength')">Please enter at least 6 characters!
              </mat-error>
            </mat-form-field>
            <!--end test name-->
            <!--   test username-->
            <!--            <div class="form-group">-->
            <!--              <input name="username"-->
            <!--                     [(ngModel)]="form.userName"-->
            <!--                     matInput-->
            <!--                     placeholder="Your UserName"-->
            <!--                     required-->
            <!--                     minlength="3"-->
            <!--                     #username="ngModel" type="text" class="form-control">-->
            <!--              <mat-error *ngIf="username.hasError('required')">The username is required!</mat-error>-->
            <!--              <mat-error *ngIf="username.hasError('minlength')">Username toi thieu 3 ky tu!</mat-error>-->
            <!--              <i class="ik ik-user"></i>-->
            <!--            </div>-->
            <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
              <mat-label>Username</mat-label>
              <input name="username"
                     [(ngModel)]="form.userName"
                     matInput
                     placeholder="Your UserName"
                     required
                     minlength="6"
                     #username="ngModel" type="text">
              <mat-error *ngIf="username.hasError('required')">Username cannot be blank!</mat-error>
              <mat-error *ngIf="username.hasError('minlength')">Please enter at least 6 characters!</mat-error>
            </mat-form-field>
            <!--end test uername-->
            <!--email-->
            <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                     [(ngModel)]="form.email"
                     placeholder="Ex. abc@gmail.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter your email in the correct format!
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email cannot be blank!
              </mat-error>
            </mat-form-field>
            <!--            end email-->
            <!-- password-->
            <!--            <div class="form-group">-->
            <!--              <input-->
            <!--                [type]="hide ? 'password' : 'text'"-->
            <!--                name="password"-->
            <!--                [(ngModel)]="form.password"-->
            <!--                matInput-->
            <!--                placeholder="Password"-->
            <!--                required-->
            <!--                minlength="6"-->
            <!--                #password="ngModel" class="form-control">-->
            <!--              <mat-error *ngIf="password.hasError('required')">The password is required!</mat-error>-->
            <!--              <mat-error *ngIf="password.hasError('minlength')">Vui long nhap toi thieu 6 ky tu!</mat-error>-->
            <!--              <button color="accent" mat-icon-button matSuffix (click)="hide = !hide"-->
            <!--                      [attr.aria-label]="'Hide password'"-->
            <!--                      [attr.aria-pressed]="hide">-->
            <!--                <mat-icon style="width: 150px">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
            <!--              </button>-->

            <!--              <i class="ik ik-lock"></i>-->
            <!--            </div>-->
            <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
              <mat-label>Enter your password</mat-label>
              <input
                [type]="hide ? 'password' : 'text'"
                name="password"
                [(ngModel)]="form.password"
                matInput
                placeholder="Password"
                required
                minlength="6"
                #password="ngModel">
              <mat-error *ngIf="password.hasError('required')">Password cannot be blank</mat-error>
              <mat-error *ngIf="password.hasError('minlength')">Please enter at least 6 characters!</mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>

            </mat-form-field>
            <!--end password-->
            <!--test phone-->
            <!--            <div class="form-group">-->
            <!--              <input-->
            <!--                name="phone"-->
            <!--                [(ngModel)]="form.phoneNumber"-->
            <!--                matInput-->
            <!--                placeholder="Phone Number"-->
            <!--                required-->
            <!--                type="text" pattern="[0-9]{9,10}"-->
            <!--                #phone="ngModel" class="form-control">-->
            <!--              <mat-error *ngIf="phone.hasError('required')">The phone number is required!</mat-error>-->
            <!--              <mat-error *ngIf="phone.hasError('pattern')">Vui long nhạp ky tu so, toi thieu 9, toi da 10 ky tu</mat-error>-->
            <!--              <i class="ik ik-eye-off"></i>-->
            <!--            </div>-->

            <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
              <mat-label>Phone</mat-label>
              <input
                name="phone"
                [(ngModel)]="form.phoneNumber"
                matInput
                placeholder="Phone Number"
                required
                type="text" pattern="[0-9]{9,10}"
                #phone="ngModel">
              <mat-error *ngIf="phone.hasError('required')">Phone number cannot be blank!</mat-error>
              <mat-error *ngIf="phone.hasError('pattern')">Please enter number, min 9 characters, max 10 characters!
              </mat-error>
            </mat-form-field>
            <!--end test phone-->
            <!--test address-->
            <!--            <div class="form-group">-->
            <!--              <input-->
            <!--                name="address"-->
            <!--                [(ngModel)]="form.address"-->
            <!--                matInput-->
            <!--                placeholder="Your address"-->
            <!--                required-->
            <!--                minlength="6"-->
            <!--                type="text"-->
            <!--                #address="ngModel" class="form-control">-->
            <!--              <mat-error *ngIf="address.hasError('required')">The address is required!</mat-error>-->
            <!--              <mat-error *ngIf="address.hasError('minlength')">Vui long nhap toi thieu 6 ky tu!</mat-error>-->
            <!--              <i class="ik ik-eye-off"></i>-->
            <!--            </div>-->

            <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
              <mat-label>Address</mat-label>
              <input
                name="address"
                [(ngModel)]="form.address"
                matInput
                placeholder="Your address"
                required
                minlength="6"
                type="text"
                #address="ngModel">
              <mat-error *ngIf="address.hasError('required')">Address cannot be blank!</mat-error>
              <mat-error *ngIf="address.hasError('minlength')">Please enter at least 6 characters!</mat-error>
            </mat-form-field>
            <!--end test address-->

            <div class="sign-btn text-center">
              <button class="btn btn-theme" type="submit"
                      style=" height: 45px;border-radius: 5px; color: #0b2e13">Create Account
              </button>
            </div>
          </form>
          <div class="register">
            <a routerLink="/">Back to Home</a>
          </div>
          <div class="register">
            <p>You already have account<a routerLink="/login">Login now</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
