<div class="col-md-11" style="margin: auto;">
      <div class="card" style="width: 80%; margin: 0 auto">
        <div class="card-header"><h3 style="margin: auto;font-weight: 450;font-size: 25px">Add New Product</h3></div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="f.form.valid && createNewProduct()" class="forms-sample example-form" style="margin: 0 auto">
            <div class="form-group">
<!--              <label for="exampleInputName1">Product Name</label>-->
<!--              <input [(ngModel)]="form.name" [ngModelOptions]="{standalone: true}" matInput name="name" type="text"-->
<!--                     class="form-control" id="exampleInputName1" placeholder="Product Name">-->
<!--test product name-->
              <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
                <mat-label>Product name</mat-label>
                <input matInput name="name" type="text"
                       [(ngModel)]="form.name" [ngModelOptions]="{standalone: true}"
                       placeholder="Product name..."
                       required
                       minlength="3"
                       #productname="ngModel" >
                <mat-error *ngIf="productname.hasError('required')">Product name cannot be blank!</mat-error>
                <mat-error *ngIf="productname.hasError('minlength')">Product name minimum 3 characters!</mat-error>
              </mat-form-field>
<!--end test product name-->
            </div>
            <div class="row">
              <!--Price---------->
              <div class="col-md-6">
                <div class="form-group">
<!--                  <label for="price">Price</label>-->
<!--                  <input [(ngModel)]="form.price" [ngModelOptions]="{standalone: true}" matInput name="price" type="text"-->
<!--                         class="form-control" id="price" placeholder="$$">-->
<!--                  test price-->
                  <mat-form-field class="example-full-width" floatLabel="always" appearance="fill" style="margin-top: 10px">
                    <mat-label>Price</mat-label>
                    <input matInput name="price" type="number"
                           [(ngModel)]="form.price" [ngModelOptions]="{standalone: true}"
                           required
                           min="0"
                           #price="ngModel" (change)="checkPrice(price.value)">
                    <span matPrefix>$$&nbsp;</span>
                    <mat-error *ngIf="price.hasError('required')">Price cannot be blank!</mat-error>
                  </mat-form-field>
<!--                  end test price-->
                </div>
              </div>
              <!--   ------------------    Category---------------->
              <div class="col-md-6">
                <div class="form-group">
<!--                  <label for="category">Category</label>-->
<!--                  <select [(ngModel)]="form.category" name="category" required class="form-control" id="category">-->
<!--                    <option *ngFor="let category of categoryList" [value]="category.id">{{category.categoryName}}</option>-->
<!--                  </select>-->
<!--                  test category-->
                  <mat-form-field appearance="fill" class="example-full-width" style="margin-top: 10px" >
                    <mat-label>Category</mat-label>
                    <mat-select #category="ngModel" [(ngModel)]="form.category" name="category" required id="category">
                      <mat-option *ngFor="let category of categoryList" [value]="category.id">{{category.categoryName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="category.hasError('required')">Category cannot be blank!</mat-error>
                  </mat-form-field>
<!--                  end test category-->
                </div>
              </div>
            </div>


            <div class="row">

              <!--            Quantity---------->
              <div class="col-md-6">
                <div class="form-group">
<!--                  <label for="quantity">Quantity</label>-->
<!--                  <input [(ngModel)]="form.quantity" [ngModelOptions]="{standalone: true}" matInput name="quantity"-->
<!--                         type="text" class="form-control" id="quantity" placeholder="">-->
<!--                  test quantity-->
                  <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
                    <mat-label>Quantity</mat-label>
                    <input matInput name="quantity" type="number"
                           [(ngModel)]="form.quantity" [ngModelOptions]="{standalone: true}"
                           required
                           id="quantity"
                           placeholder="quantity..."
                           min="0"
                           #quantity="ngModel" (change)="checkQuantity(quantity.value)" >
                    <mat-error *ngIf="quantity.hasError('required')">Quantity cannot be blank!</mat-error>
                  </mat-form-field>
<!--                  end test quantity-->
                </div>
              </div>
              <!--   ------------------    manufacturer---------------->
              <div class="col-md-6">
                <div class="form-group">
<!--                  <label for="manufacturer">Manufacturer</label>-->
<!--                  <input [(ngModel)]="form.manufacturer" [ngModelOptions]="{standalone: true}" matInput-->
<!--                         name="manufacturer" type="text" class="form-control" id="manufacturer"-->
<!--                         placeholder="Manufacturer">-->
<!--                  test manufacture-->
                  <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
                    <mat-label>Manufacture</mat-label>
                    <input matInput name="manufacturer" type="text"
                           [(ngModel)]="form.manufacturer" [ngModelOptions]="{standalone: true}"
                           placeholder="Manufacture..."
                           required
                           minlength="3"
                           #manu="ngModel" >
                    <mat-error *ngIf="manu.hasError('required')">Manufacture cannot be blank!</mat-error>
                    <mat-error *ngIf="manu.hasError('minlength')">Manufacture minimum 3 characters! </mat-error>
                  </mat-form-field>
<!--                  end test manufacture-->
                </div>
              </div>
            </div>


            <!---------------       description  ---------------- -->

            <div class="form-group">
<!--              <label for="description">Description</label>-->
<!--              <input [(ngModel)]="form.description" [ngModelOptions]="{standalone: true}" matInput name="description"-->
<!--                     type="text" class="form-control" id="description" placeholder="description">-->
<!--              test des-->
                <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
                  <mat-label>Description</mat-label>
                  <textarea matInput id="description" name="description" [(ngModel)]="form.description" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
<!--              end test des-->
            </div>
            <!------------------------------image------------------>
            <div class="form-group" style="font-size: inherit;font-weight: 400;line-height: 1.125;">
              <label>Product Image</label>
              <div class="input-group col-xs-12">
                <app-upload-file (giveUrl)="uploadFile($event)"></app-upload-file>
              </div>
            </div>


            <button type="submit" class="btn btn-primary mr-2" style="height: auto;width: 100px;margin-left: 51%;">Save</button>
            <button routerLink="/admin-home/admin-list-product" class="btn btn-light" style="background-color: #E6E6FA;height: auto;width: 100px;margin-left: 25px;">Cancel</button>
          </form>
        </div>
      </div>
    </div>



