<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default card">
        <div class="panel-body" style="background-color: #E6E6FA;width: 400px">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>{{status}}</p>
            <div class="panel-body">

              <form class="example-form form" #f= "ngForm" (ngSubmit)="f.form.valid && getForgotPassword()" id="register-form" role="form" autocomplete="off" method="post">
                <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                         [(ngModel)]="email"
                         placeholder="Ex. abc@gmail.com">
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter your email in the correct format!
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email cannot be blank!
                  </mat-error>
                </mat-form-field>
                <div class="form-group">
                  <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password"
                         type="submit" style="height: auto;margin-top: 15px;">
                </div>
                <input type="hidden" class="hide" name="token" id="token" value="">
              </form>
              <a routerLink="/home">Back To Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
