<div class="container emp-profile">
  <form (ngSubmit)="update()">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img [src]="user.avatar"  class="rounded-circle img-40 align-top mr-15" style="height: 100px;width: 90px;margin-bottom: -5px;">

        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab"  role="tab" aria-controls="home" aria-selected="true" style="font-size: 30px;margin-bottom: 30px;">Your Information</a>
            </li>
          </ul>
        </div>
      </div>
      <!--      <div class="col-md-2">-->
      <!--        <button class="btn btn-success" type="submit">Cập nhập</button>-->
      <!--        -->
      <!--      </div>-->
      <div class="col-md-2">
        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Lưu"/>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4" >
        <div class="profile-work" style="border-right: 1px solid;margin-top: -21px;margin-left: 53px;border-right: 1px solid;font-size: 25px;font-weight: 100;">
          <p style="font-size: 20px;">Shop</p>
          <a class="linkhover" routerLink="/home" style="margin-left: 0px;padding: 10px 32px;border-radius: 4px;">Home</a><br/>
          <a class="linkhover" routerLink="/home/customer-payment" style="margin-left: 0px;padding: 10px 32px;border-radius: 4px;">Shopping cart</a><br/>
          <a class="linkhover" routerLink="/home/customer-list-order" style="margin-left: 0px;padding: 10px 32px;border-radius: 4px;">Orders</a>
          <p style="font-size: 20px;">Account</p>
          <a class="linkhover"  (click)="logout()" *ngIf="token != null" style="margin-left: 0px;padding: 20px 32px;border-radius: 4px;">Logout</a><br/>
          <a class="linkhover" href="" style="margin-left: 20px;padding: 10px 10px;border-radius: 4px;">Change password</a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-5">
                <label>User Name</label>
              </div>
              <div class="col-md-6">
                <p style="font-size: 20px">{{user.username}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5">
                <label for="name" style="margin-top: 15px;">Customer name</label>
              </div>

              <div class="col-md-6" >
                <input type="text" matInput class="form-control" id="name" required minlength="6" [(ngModel)]="user.name" style="width: 400px;padding: 10px;margin-top: 5px;"
                       name="name" #n = "ngModel">
                <mat-error style="margin-bottom: 10px;" *ngIf="n.hasError('required')">Cannot be blank!
                </mat-error>
                <mat-error style="margin-bottom: 10px;" *ngIf="n.hasError('minlength')">Please enter at least 6 characters!
                </mat-error>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5">
                <label for="email" style="margin-top: 15px;">Email</label>
              </div>
              <div class="col-md-6">
                <input type="email" matInput [formControl]="emailFormControl" class="form-control" id="email" [(ngModel)]="user.email" style="width: 400px;padding: 10px; margin-top: 10px;"
                       name="email">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter your email in the correct format!
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email cannot blank!
                </mat-error>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5">
                <label for="address"  style="margin-top: 15px;">Address</label>
              </div>
              <div class="col-md-6">
                <input type="text" matInput required minlength="6"  class="form-control" id="address" [(ngModel)]="user.address" style="width: 400px;padding: 10px;margin-top: 10px;"
                       name="address" #add = "ngModel">
                <mat-error style="margin-bottom: 10px;" *ngIf="add.hasError('required')">Address cannot be blank!
                </mat-error>
                <mat-error style="margin-bottom: 10px;" *ngIf="add.hasError('minlength')">Please enter at least 6 characters!
                </mat-error>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label for="dob" style="margin-top: 15px;">Date of birth</label>
              </div>
              <div class="col-md-6">
                <input type="date" class="form-control" max="{{maxDate}}" [(ngModel)]="user.dob" id="dob" style="width: 400px;padding:10px;margin-top: 10px;"
                       name="dob">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label for="phone" style="margin-top: 15px;">Phone number</label>
              </div>
              <div class="col-md-6">
                <input type="text" pattern="[0-9]{9,10}" required class="form-control" id="phone" [(ngModel)]="user.phone" style="width: 400px;padding: 10px;margin-top: 10px;margin-bottom: 30px;"
                       name="phone" #sdt = "ngModel">
                <mat-error *ngIf="sdt.hasError('required')">Phone number cannot be blank!</mat-error>
                <mat-error *ngIf="sdt.hasError('pattern')">Please enter number, min 9 characters, max 10 characters!
                </mat-error>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label style="margin-top: 15px;">Avatar</label>
              </div>
              <div class="col-md-6">
                <app-upload-file (giveUrl)="uploadFile($event)"  ></app-upload-file>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
