<div class="col-md-12">
  <div class="card table-card">
    <div class="card-header">
      <h3>Danh sách sản phẩm</h3>
      <div class="card-header-right">
        <ul class="list-unstyled card-option">
          <li><i class="ik ik-chevron-left action-toggle"></i></li>
          <li><i class="ik ik-minus minimize-card"></i></li>
          <li><i class="ik ik-x close-card"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-block">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
          <tr>
            <th>Tên sản phẩm</th>
            <th>Ảnh</th>
            <th>Giá</th>
            <th>Só lượng</th>
            <th>Hãng sản xuất</th>
            <th>Mô tả</th>
            <th>Hành động</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of productList">
            <td>{{product.name}}</td>
            <td>
              <div class="d-inline-block align-middle">
                <img [src]="product.image" class="rounded-circle img-40 align-top mr-15">
              </div>
            </td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.manufacturer}}</td>
            <td>{{product.description}}</td>
            <td><a href="#!"><i class="ik ik-edit f-16 mr-15 text-green"></i></a>
              <a data-toggle="modal" data-target="#exampleModalCenter"><i
                class="ik ik-trash-2 f-16 text-red js-btn"></i></a></td>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Bạn có muốn xóa sản phẩm này không??
                  </div>
                  <div class="modal-footer">
                    <button (click)="deleteProduct(product.id)" data-dismiss="modal"  type="button" class="btn btn-primary" style="border-radius: 3px;height: 40px;width: 100px;">Đồng ý</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 3px;height: 40px;width: 100px;">Đóng</button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

